@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    width: 100vw;
}
.lotr{
    font-family: "Bilbo", cursive;
    font-size: 80px;
    color: #D4AF37;
    text-align: center;
    text-decoration: underline silver;
    
}
.nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    a{
        font-family: "Bilbo", cursive;
        color: silver;
        text-decoration: none;
        font-size: 40px;
    }
}
.sep{   
    border-left: 4px dashed silver;
}
#head{
    background-color: white;
    height: 2px;
    margin: 16px 100px;
}